<div class="row" id="booking">
  <div class="col-md-8 meeting-box">
    <div *ngFor="let meeting of meetings" class="meeting" (click)="showParticipants(meeting.room)">
      <div class="row meeting-row">
        <div class="col-md-6">
          <h6>Date: {{ meeting.date }}</h6>
          <h6>From: {{ meeting.from }}</h6>
        </div>

        <div class="col-md-6">
          <h6>Room: {{ meeting.room }}</h6>
          <h6>To: {{ meeting.to }}</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="informationBox">
      <button class="btn" id="deleteButton" (click)="deleteMeeting()"> Delete meeting </button>
      <h5 class="text-center" id="participantsTitle">Participants</h5>
      <div id="participantsBox">
        <h6 *ngFor="let participant of participants" class="text-center" style="height: 20%; border-bottom: 1px dotted black; width: 90%; margin-left: 5%">
          {{ participant }}
        </h6>
      </div>
    </div>
    <button class="btn" id="newMeetingButton" (click)="deleteMeeting()"> New Meeting </button>
  </div>
</div>
