<div class="container login-center">
  <div style="border-bottom: solid 1px;">
    <h1 class="text-center" style="width: 100%;">Bookingsystem</h1>
  </div>

  <div class="input-box">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text input-tag">
          E-mail:
        </span>
      </div>
      <input type="text" id="email" class="form-control input-field" placeholder="example@email.com" aria-label="username" aria-describedby="username">
    </div>
  </div>

  <div class="input-box">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text input-tag">
          Password:
        </span>
      </div>
      <input type="text" id="password" class="form-control input-field" placeholder="*********" aria-label="password" aria-describedby="password">
    </div>
  </div>

  <div class="button-box">
    <button class="btn btn-primary" (click)="login()" id="login">Login</button>
  </div>
</div>
